*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/
test/timing*
parameter_study/data
/test/data
*/.venv
# The following are names of output folders which fill with junk when running code
**/fubar/
**/output/
*/results
**/temp/

